{% extends "base/section.twig" %}



{% block sectionBody %}

<div id="Home" class="row">
    <div class="medium-centered medium-12 large-10 columns">


        <div class="spacer2"></div>

        <div class="panel home-panel">
            <div class="row">
                <div class="columns text-center">
                    <h1>Email Me</h1>
                    <h2>From CoinMachine.co</h2>
                </div>
            </div>
            <div class="spacer1"></div>
            <div class="row">
                <div class="small-text-center medium-5 columns">
                    <div class="spacer1"></div>
                    <img src="/public/img/emailme-logo.png" alt="EmailMe">
                </div>
                <div class="medium-7 columns">
                    <div class="spacer1"></div>
                    <h3>What Does it Do?</h3>
                    <p class="summary">
                        You'll get an email when you receive bitcoins or Counterparty assets.
                    </p>

                    <h3>How Much Does it Cost?</h3>
                    <p>
                        We'll notify you twice for free.  To continue to receive notifications after that, send us a one-time payment of 1,000 LTBcoin or 3 mBTC.
                    </p>
                    
                </div>
            </div>
            <div class="spacer1"></div>
            

        </div>

        <div class="spacer3"></div>

        <h3>Try it Right Now</h3>
        <p>
            Enter a bitcoin address and an email address below.  We'll send you one email now to verify your email address.  Then, we'll send you an email any when this address receives bitcoin or Counterparty assets.
        </p>

        
        <form action="{{url('home')}}" method="POST">
            <fieldset>
                <legend>Get Notified</legend>

                {# errors #}
                {% if error|length %}
                <div data-alert class="alert-box alert">
                    <div>There were some errors.  Please try again.</div>
                    <div class="spacer1"></div>
                    {{ error|raw }}
                </div>
                {% endif %}
                
                <label for="email">
                    Email Address
                    <span class="sublabel">We won't send you spam or share your email with anyone else</span>
                </label>
                <input type="email" name="email" id="email" placeholder="me@myemaildomain.com" value="{{submittedData.email}}">

                <label for="bitcoinAddress">
                    Bitcoin Address
                    <span class="sublabel">This can also be a <a href="https://www.counterparty.co/" target="_blank">Counterparty</a> address</span>
                </label>
                <input type="text" name="bitcoinAddress" id="bitcoinAddress" placeholder="12m7y5thKyTzLgN48muDeAoDZQdzUBQ688"  value="{{submittedData.bitcoinAddress}}">


                <div class="spacer1"></div>

                <button type="submit"><i class="fa fa-envelope"></i> Send Me a Confirmation Email</button>

                <div class="spacer1"></div>


            </fieldset>

        </form>


        <div class="spacer5"></div>

    </div>

</div>




{% endblock %}


{% block app_js %}
{{ parent() }}
{% endblock %}
