{% set startWord = auction.startDate > "now"|date("U") ? 'Starts' : 'Started' %}
{% set endWord = auction.endDate > "now"|date("U") ? 'Ends' : 'Ended' %}

<div class="auction-entry">
    <div class="row">
        <div class="columns">
            <div class="section name"><a href="{{url('public-auction', {slug: auction.slug})}}">{{auction.name}}</a></div>
        </div>
    </div>
    <div class="row">

        <div class="medium-6 columns">

            <div class="section username">
                <label>Seller</label>
                {{auction.username ? auction.username : 'no one'}}
            </div>

            <div class="section prize-list">
                <label>Prizes</label>
                {% for prize in auction.prizeTokensRequired %}
                <div class="prize"><span class="qty">{{prize.amount|to_currency}}</span> <span class="token">{{prize.token}}</span></div>
                {% endfor %}

            </div>
        </div>

        <div class="medium-6 columns">
            <div class="section status">
                <label for="">Status</label>
                <span data-auction-status="prebid" class="status-badge prebid" style="display: {{ (state.timePhase == 'prebid' or (state.timePhase == 'live' and not state.active)) ? 'inline' : 'none' }};">
                    <i class="fa fa-exclamation"></i> waiting
                </span>
                <span data-auction-status="live" class="status-badge active" style="display: {{ (state.timePhase == 'live' and state.active) ? 'inline' : 'none' }};">
                    <i class="fa fa-bolt"></i> active
                </span>                            
                <span data-auction-status="ended" class="status-badge ended" style="display: {{ state.timePhase == 'ended' ? 'inline' : 'none' }};">
                    <i class="fa fa-gavel"></i> ended
                </span>
            </div>

            <div class="section">
                <label for="">Dates</label>
                <div class="date">{{startWord}} <span data-with-timezone data-date-timestamp="{{auction.startDate}}">{{auction.startDate|date("n.d.Y g:i A P")}}</span></div>
                <div class="date">{{endWord}} <span data-with-timezone data-date-timestamp="{{auction.endDate}}">{{auction.endDate|date("n.d.Y g:i A P")}}</span></div>
            </div>

        </div>
    </div>
</div>